﻿/******
Theme Name: Explora
Author: weblizar
Theme URI: 
Author URI: http://weblizar.com/
Description: Explora is a multipurpose business corporate theme. Beautiful design with bootstrap and responsive that support woocommerce with blog left and blog right sidebar. Explora is a really simple theme, straightforward typography is readable on a wide variety of screen sizes, and suitable for multiple languages. We designed it using a mobile-first approach which means that your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer. This is what makes the theme fully responsive with eye catchy effects.
Version: 1.6.3
Tested up to: 5.5
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog , portfolio , two-columns, custom-header , custom-menu, custom-logo , right-sidebar, custom-background, sticky-post, theme-options, threaded-comments, featured-images
Text Domain: explora
***/
/**
*
* TABLE OF CONTENT
# Menu CSS
# Slider
# Services
# Client
# testimonail
# Call out
# Price
# Footer
# Breadcum
# Featured
# About Us
# Contact us
# Blog
# Sidebar
# Blog Single
# About Author
# Related blogs
# Blog Pagination
# Blog Comment
# Blog Form
# PortFolio
# Portfolio Detail
# Related Portfolio
# Team
# index blog
# feedback Fixed
# Masanary
# 404 page
# Button 
# Tabs
# Toggle
# Sidebar & Footer Widget CSS

*
*/
body{
font-family: "Open Sans";
}

/* All */
a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.btn,
.btn:hover,
.btn:focus {
    text-decoration: none;
    outline: none;
}

button,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}
.img-responsive{
width:100%;
height:auto;
}
.space{
padding:50px 0;
}
.wc_heading {
  text-align: center;
  margin: 0;
}
.section_heading{
margin:10px;
font-size:48px;
white-space: pre;
}
.section_description{
margin:10px;
position:relative;
top:0;
font-size:18px;
}
.white-text{
color:#fff;
}
.back-to-top i {
background-color:#ff794d;
bottom: 10px;
opacity:0.8;
color: #fff;
font-size: 36px;
padding: 5px 15px;
position: fixed;
right: 10px;
z-index: 1;
-webkit-transition:all 1s ease 0.6s;
-moz-transition:all 1s ease 0.6s;
-ms-transition:all 1s ease 0.6s;
-o-transition:all 1s ease 0.6s;
transition:all 1s ease 0.6s;
}
#pbOverlay{
z-index:99999;
}
/* All */
/* Top */
.top{
background-color:#000;
}
.top-left{
padding:0;
}
.top-right {
color: #fff;
text-align: right;
padding: 10px;
}
.top-right i{
color:#d65050;
font-size:16px;
}
/* Top */
/*  Menu CSS */
header{
padding:0;
z-index: 99999;
}

.menu-head{
margin:0;
}
.menu{
margin:0;
}
.sticky-head{
padding: 0;
background: rgba(0,0,0,0.85);
width: 100%;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
position:fixed;
z-index:9;
}
.sticky-head .menu .navbar-header p,
.sticky-head .menu .navbar-brand {
color:#fff;
}
.sticky-head   .menu .navbar-nav li a,.sticky-head .logo h1,.sticky-head .logo p{
color:#fff;
}
.sticky-head   .menu .navbar-nav li a{
border-top:3px solid transparent;
}
.sticky-head .menu .navbar-brand {
display: inline-block;
font-size: 24px;
padding: 5px 0;
height:auto !important;
-webkit-transition:all 700ms ease 0s;
-moz-transition:all 700ms ease 0s;
-ms-transition:all 700ms ease 0s;
-o-transition:all 700ms ease 0s;
transition:all 700ms ease 0s;
}
.sticky-head .menu .navbar-nav li a{
padding: 25px 5px;
-webkit-transition:all 700ms ease 0s;
-moz-transition:all 700ms ease 0s;
-ms-transition:all 700ms ease 0s;
-o-transition:all 700ms ease 0s;
transition:all 700ms ease 0s;
}
.menu  {
background-color: transparent;
color: #fff;
margin:0;
border:0;
border-radius:0;
}
.menu .navbar-collapse{
float:right;
width: none !important;
padding:0;
border:0;
}
.menu .navbar-brand {
  color: #333;
  display: inline-block;
  float: none;
  font-size: 36px;
  height: auto;
  /* margin: 0 !important;*/
  padding:0px;
  text-transform: capitalize;
}
.menu .navbar-header  p {
  color: #666;
  margin: 0;
}
.menu .dropdown-menu {
min-width:200px;
left: 0 !important;
right: 0px;
background-color:#fff;
padding:0;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0 !important; left:100% !important;margin-top:0px;margin-left:-1px; margin-right:-130px;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
.dropdown-submenu>a:after{display:block;content:"";float:right;width:0;height:0;border-color:transparent; font-weight:bold; border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:-1px;margin-right:0px; font-size:20px;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.menu.navbar-default .navbar-nav > .active > a,
.menu.navbar-default .navbar-nav > .active > a:focus,
.menu.navbar-default .navbar-nav > .active > a:hover{
background-color:transparent;
color:#333;
border-top:3px solid #ff794d !important;
color: #ff794d !important;
}
.menu.navbar-default .navbar-nav > .open > a,
.menu.navbar-default .navbar-nav > .open > a:focus,
.menu.navbar-default .navbar-nav > .open > a:hover,
.menu.navbar-default .navbar-nav  a:hover,
.menu.navbar-default .navbar-nav  a:focus{
color:#333;
border-top:3px solid #ff794d;
color: #ff794d !important;
}
.menu .dropdown-menu > li > a{
color:#333;
white-space: normal;
word-wrap: normal;
}
.menu .dropdown-menu > li > a:focus,
.menu .dropdown-menu > li > a:hover{
background-color:transparent;
color:#333;
}
.menu .dropdown-menu {
border-top:2px solid #ff794d;
}
.menu li .dropdown-menu {
min-width: 180px;
z-index: 99999;
position: absolute;
top: 100%;
left: initial; 
opacity: 0;
-webkit-border-radius: 0 0 2px 2px;
-moz-border-radius: 0 0 2px 2px;
-ms-border-radius: 0 0 2px 2px;
-o-border-radius: 0 0 2px 2px;
border-radius: 0 0 2px 2px;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.menu .dropdown-menu li a {
padding: 10px !important;
color: #666 !important;
border: 0 !important;
border-bottom: 1px solid #fff !important;
}
.menu li:hover > .dropdown-menu,
.menu li:focus-within > .dropdown-menu,
.dropdown.focus > .dropdown-menu {
top: 100%;
position: absolute;
display: block;
visibility: visible;
opacity: 1;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;			
}
.menu .navbar-nav li a .caret {
    border-right: 6px solid transparent;
    border-top: 6px dashed;
    border-left: 6px solid transparent;
}
.menu .dropdown-menu .caret {
    float: right;
    margin-top: 8px;
}
.dropdown-menu > li > a {
padding: 5px 20px;
}
.menu .nav{
color:#fff;
}
.menu .navbar-right {
margin-right: 0;
}
.menu .navbar-nav li a {
color: #333;
text-transform: uppercase;
padding: 40px 10px 40px 0;
border-top:3px solid transparent;
font-weight:bold;
}
.menu.navbar-default .navbar-nav > .active > a::before,
.menu.navbar-default .navbar-nav > .active > a:focus::before, 
.menu.navbar-default .navbar-nav > .active > a:hover::before {
border-color: #ff794d transparent;
border-style: solid;
border-width: 7px 7px 0 0;
top: 0;
content: "";
height: 0;
position: absolute;
left: 0;
width: 0;
}
.admin-bar .site-header,
.admin-bar .site-header.float-header {
top: 32px;
}
/*  Menu CSS */

/* Slider */

.w_slider{
margin:0;
}
/* .swiper-slide{
	margin-right:0 !important;
} */
.swiper-container5{
margin: 0 auto;
overflow: hidden;
position: relative;
z-index: 1;
padding-top: 20px;
width: 100%;
}
.overlay{
width:100%;
height:100%;
background:rgba(0,0,0,0.2);
position:fixed;
top:0;
z-index:2;
}
.carousel-caption {
bottom: auto;
min-height: 200px;
padding: 0;
top: 40%;
height: auto;
}
.carousel-caption h1,
.carousel-caption h2{
	margin:0;
	margin-bottom:10px;
}
.carousel-caption h1 span {
  animation-duration: 1s;
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  font-size: 48px;
  margin: 0;
  padding: 5px 10px;
  text-align: left;
  display: inline-block;
}
.carousel-caption h2 p{
background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
font-size: 24px;
padding: 5px 10px;
animation-duration:1.5s;
display: inline-block;
}
.s_link{
background-color: #ff794d;
border: 1px solid #ff794d;
bottom: 0;
color: #fff;
font-size: 14px;
left: 0;
padding: 10px 30px;
margin: 5px 10px;
}
.s_link:hover,
.s_link:focus{
color:#fff;
}
.w_slider .swiper-slide-active .animation.animated-item-1 {
animation: 500ms linear 300ms normal both 1 running fadeInUp;
}
.w_slider .swiper-slide-active .animation.animated-item-2 {
animation: 900ms linear 600ms normal both 1 running fadeInUp;
}
.w_slider .swiper-slide-active  .animation.animated-item-3 {
animation: 1200ms linear 900ms normal both 1 running fadeInUp;
}
.w_slider .swiper-pagination-bullet-active::after {
border-radius: 100%;
content: "";
height: 24px;
left: -3px;
position: absolute;
top: -3px;
width: 24px;
}
.w_slider .swiper-pagination-bullet::after {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: 1px solid #fff;
border-radius: 100%;
content: "";
height: 20px;
left: -2px;
position: absolute;
top: -2px;
width: 20px;
}
.w_slider .swiper-pagination-bullet-active::after {
background: #ff794d none repeat scroll 0 0;
border: 1px solid #ff794d;
}
.w_slider .swiper-pagination-bullet{
background-color: #fff;
height: 16px;
margin: 0 15px 0 0;
position: relative;
width: 16px;
opacity:1;
}
.w_slider .swiper-container-horizontal > .swiper-pagination-bullets,
.w_slider .swiper-pagination-custom, .swiper-pagination-fraction {
bottom: 20px  !important;
}
.w_slider .swiper-button-next, .w_slider .swiper-container-rtl .swiper-button-prev,
.w_slider .swiper-button-prev, .w_slider .swiper-container-rtl .swiper-button-next {
background: none;
height: 60px;
width: 60px;
}
.swiper-button-prev.swiper-button-prev5:before {
background: rgba(0,0,0,0.5);
content: "";
position: absolute;
margin: 0;
width: 60px;
height: 60px;
}
.swiper-button-prev.swiper-button-prev5::after {
color: #fff;
content: "\f104";
font-family: 'Font Awesome 5 Free';
font-size: 60px;
margin-left: 15px;
margin-top: -15px;
position: absolute;
font-weight: 800;
}
.swiper-button-next.swiper-button-next5:before {
background: rgba(0,0,0,0.5);
content: "";
position: absolute;
margin: 0;
width: 60px;
height: 60px;
}
.swiper-button-next.swiper-button-next5::after {
color: #fff;
content: "\f105";
font-family: 'Font Awesome 5 Free';
font-size: 60px;
margin-top: -15px;
position: absolute;
margin-left: 20px;
font-weight: 800;
}
.swiper-button-prev.swiper-button-prev5, .swiper-button-next.swiper-button-next5{
	top:50%;
}
/* Slider */

/* WC */
.wc_right h2 {
font-size: 30px;
margin:10px 0 30px;
}
.wc_right p{
font-size: 18px;
line-height:25px;
color:#999;
}
.wc_left .img-thumbnail {
padding: 0;
display: block;
border: 10px solid rgba(0,0,0,0.25);
}
/* WC */

/* Services */
.w_ser_icon {
padding: 0;
text-align: center;
}
.w_ser_icon i {
background-color: #ff794d;
border: 1px solid #ff794d;
border-radius: 100%;
color: #fff;
font-size: 36px;
height: 60px;
padding: 8px;
text-align: center;
width: 60px;
}
.w_ser_desc h2 {
font-size: 24px;
margin: 0px;
padding: 10px 0;
}
.w_ser_desc  h2 a{
color:#333;
text-decoration:none;
}
.w_ser_desc p {
color: #666;
line-height: 20px;
margin: 15px 0;
}
.w_service {
margin: 20px 0;
min-height: 200px;
}
.w_ser_desc {
min-height: 160px;
}
/* Ser 2 */
.w_services .w_right_abt i{
font-size:42px;
padding:10px 20px;
color:#ff794d;
}
.w_services .w_right_abt{
-moz-box-direction: normal;
-moz-box-flex: 1;
-moz-box-orient: vertical;
display: flex;
flex: 1 1 0;
flex-direction: column;
padding: 40px;
position: relative;
text-align: center;
min-height: 280px;
}
.w_services .w_right_abt:hover,
.w_services .w_right_abt:focus {
background-color: #ff794d;
border-color: #ff794d;
color: #fff;
-webkit-transition:all ease 0.6s;
-moz-transition:all ease 0.6s;
-ms-transition:all ease 0.6s;
-o-transition:all ease 0.6s;
transition: all ease 0.6s;
}
.w_services .w_right_abt:hover  i,
.w_services .w_right_abt:hover  p,
.w_services .w_right_abt:hover  h2 a,
.w_services .w_right_abt:focus  i,
.w_services .w_right_abt:focus  p,
.w_services .w_right_abt:focus  h2 a{
color: #fff;
}
.w_services .w_right_abt  h2 a{
color: #ff794d;
}
.w_services .w_right_abt h2 a{
font-size:24px;
text-decoration:none;
}
.w_right_abt_text::before {
border-left: 1px solid transparent;
border-top: 1px solid transparent;
content: "";
height: 0;
left: 0;
position: absolute;
top: -10px;
-webkit-transition:width 0.3s ease 0.2s, height 0.3s ease 0.4s;
-moz-transition:width 0.3s ease 0.2s, height 0.3s ease 0.4s;
-ms-transition:width 0.3s ease 0.2s, height 0.3s ease 0.4s;
-o-transition:width 0.3s ease 0.2s, height 0.3s ease 0.4s;
transition: width 0.3s ease 0.2s, height 0.3s ease 0.4s;
width: 0;
}
.w_right_abt:hover .w_right_abt_text::after,
.w_right_abt:focus .w_right_abt_text::after {
height: 50%;
width: 50%;
border-color: #fff;
-webkit-transition:width 0.3s ease 0.2s, height 0.3s ease 0.4s;
-moz-transition:width 0.3s ease 0.2s, height 0.3s ease 0.4s;
-ms-transition:width 0.3s ease 0.2s, height 0.3s ease 0.4s;
-o-transition:width 0.3s ease 0.2s, height 0.3s ease 0.4s;
transition: width 0.3s ease 0.2s, height 0.3s ease 0.4s;
}
.w_services .w_right_abt1  h2 a{
color: #ff794d;
}
.w_services .w_right_abt1 h2 a{
font-size:24px;
text-decoration:none;
}
.w_right_abt_text > h2 {
border-bottom: 1px solid rgba(0,0,0,0.2);
margin: 0;
padding: 10px 0;
}
.w_right_abt_text p{
margin:15px 0;
font-size:16px;
}
.w_right_abt_text .btn{
padding: 5px 15px;
background-color: #ff794d;
color: #fff;
border-radius:0;
margin-bottom:10px;
}
.w_right_abt:hover  .w_right_abt_text .btn,
.w_right_abt:focus  .w_right_abt_text .btn{
	background-color: #fff;
color: #ff794d;
}
/* Ser 2 */

/* Ser3 */
.w_services .w_right_abt1 i{
font-size:42px;
padding:10px 20px;
color:#ff794d;
}
.w_services .w_right_abt1{
-moz-box-direction: normal;
-moz-box-flex: 1;
-moz-box-orient: vertical;
display: flex;
flex: 1 1 0;
flex-direction: column;
padding: 40px;
position: relative;
text-align: center;
min-height: 280px;
}

/* Ser3 */
/* Services */

/* Client */
.w_back1{
background-image:url(images/back1.jpg);
}
.w_client{
background:rgba(0,0,0,0.5);
}
.w_client_sec{
margin:10px 0;
}
.w_client_blog {
padding: 0;
overflow:hidden;
background-color:#fff;
}
.w_client-pics {
padding: 0 10px;
}
.w_client_blog p {
color: #666;
font-size: 18px;
line-height: 30px;
overflow: hidden;
padding: 15px 60px 30px;
text-align: center;
}
.w_client_blog p::before {
background-color: #ff794d;
content: "";
height: 200px;
left: 0;
position: absolute;
top: -100px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
width: 80px;
z-index: 1;
}
.w_client_blog p::after {
color: #fff;
content: "\f10d";
font-family: FontAwesome;
font-size: 25px;
font-weight: 100;
left: 25px;
line-height: 1.6em;
position: absolute;
top: 10px;
z-index: 2;
}
.w_client_detail{
margin-top:20px;
padding:0;
}
.w_client-name  h2 {
font-size: 18px;
margin: 15px 0 5px;
font-weight: 500;
color:#fff;
}
.w_client-name  span {
font-size: 14px;
color:#ccc;
}
.swiper-container {
margin: 0 auto;
overflow: hidden;
position: relative;
width: 100%;
z-index: 1;
}
/* Client */

/* testimonail */
.w_back3{
background-image:url(images/back3.jpg);
background-size:100% 100%;
}
.w_testimonail{
background:rgba(0,0,0,0.7);
}
.w_testimonail_detail {
background: rgba(255,255,255,0.6);
margin: 0 !important;
text-align: left;
}
.w_testimonail_detail p{
padding:20px 30px;
background-color:#ff794d;
color:#fff;
margin:0;
}
.w_testimonail_detail .img-thumbnail {
padding: 0;
border: 0;
display: inline-block;
position: relative;
float: left;
}
.w_testimonail_detail .img-thumbnail img{
width:100px;
height:100px;
}
.w_testimonail_detail h2 a{
text-decoration:none;
font-size:18px;
color:#000;
}
.w_testimonail_detail  h2 {
display: inline-block;
float: left;
margin: 0 20px;
position: relative;
top: 0;
width: 70%;
}
.w_testimonail_detail  span {
display: block;
float: left;
margin-left: 20px;
}
.w_testimonail_detail p::after {
color: #fff;
content: "";
font-family: FontAwesome;
font-size: 20px;
font-weight: 100;
left: 5px;
line-height: 1.6em;
position: absolute;
top: 15px;
z-index: 2;
}

/* testimonail 2 */
.w_testimonail_detail1{
margin:0;
}
.w_testimonail_detail1 .img-thumbnail {
border: 3px solid #ff794d;
border-radius: 0;
display: inline-block;
float: left;
height: 100px;
padding: 0;
width: 100px;
}
.w_testimonail_detail1 h2 {
display: inline-block;
float: left;
font-size: 24px;
margin: 10px 0 0 10px;
}
.w_testimonail_detail1 h2 a{
color:#fff;
text-decoration:none;
}
.w_testimonail_detail1 h2 span {
color: #ccc;
display: block;
font-size: 14px;
margin-top: 5px;
}
.row.w_testimonail_detail1  p {
background-color: rgba(0,0,0,0.5);
color: #fff;
float: left;
padding: 20px 30px;
margin-top: 5px;
}
.w_testimonail_detail1 p::before{
color: #fff;
content: "";
font-family: FontAwesome;
font-size: 20px;
font-weight: 100;
left: 5px;
line-height: 1.6em;
position: absolute;
top: 110px;
z-index: 2;
}
/* testimonail 2 */

/* testimonail */
/* Call out */
.w_back2{
background-image:url(images/back2.jpg);
}
.w_callout{
background:rgba(0,0,0,0.5);
}
.w_callout_text p{
font-size:30px;
color:#fff;
}
.w_callout-link .link {
background-color: #ff794d;
color: #fff;
float: right;
padding: 20px 30px;
font-size: 20px;
}
.w_callout-link .link i{
font-size: 24px;
}
.w_callout_text span {
display: inline-block;
width: 150px;
border: 1px solid #fff;
margin: 20px 0;
padding: 0;
height:120px;
}
.w_callout_text span img {
height:100%;
}
/* Call out */

/* Price */
.w_price-desc {
display: block;
list-style: outside none none;
padding: 0;
}
.w_prce {
border: 1px solid #999;
padding:0;
margin:0;

}
.w_prce h2,
.w_prce1 h2 ,
.w_prce2 h2  {
font-size: 28px;
padding: 20px 0;
text-align: center;
min-height:80px;
margin:0;
}
.w_prce1 h2 ,
.w_prce2 h2 ,
.w_prce3 h2  {
background-color:#ff794d;
color:#fff;
font-weight:bold;
margin:0;
min-height:80px;
}
.w_price-desc{

}
.w_price-desc li {
padding: 10px ;
margin: 5px 0px ;
border-top: 1px solid #999;
border-bottom: 1px solid #999;
font-size:16px;
min-height:40px;
}
.w_price-desc li:hover,
.w_price-desc li:focus{
background-color:#ddd;
}
.w_top {
font-size: 20px !important;
padding: 30px 0 0 0 !important;
min-height: 80px !important;
margin: 0 !important;
}
.w_price-desc li i {
font-size: 18px;
}
.w_prce1,
.w_prce2,
.w_prce3{
border: 1px solid #999;
text-align:center;
padding:0;
}
.price_desc .last {
    border: 0;
    padding-top: 15px;
    min-height: 50px;
}
.price_desc .btn{
border:1px solid #999;
padding:10px 20px;
background-color:#ff794d;
color:#fff;
}
/* Price */
.w_payment h2 {
font-size: 30px;
margin: 0 0 20px 0;
font-weight: bold;
}
.w_payment h2 a{
color:#ff794d;
}
.w_payment p{
font-size:18px;
color:#eee;
line-height:25px;
}
.w_payment .btn{
border:1px solid #fff;
padding:5px 20px;
font-size:20px;
color:#fff;
}
.payment-pics .link {
border: 0 none;
padding: 0;
float: right;
}
.payment-pics  span {
display: block;
margin: 20px 0;
text-align: right;
color: #fff;
margin-right: 40px;
}
/* PAyment */
.w_payment{
background-color:#000;
}
/* PAyment */

/* Footer */
.w_footer {
padding: 20px 0;
background-color: rgba(204, 204, 204, 0.3);
}
.widget-heading {
padding: 30px 15px;
}
.widget-heading h1 {
border-bottom: 2px solid #666;
display: inline-block;
font-size: 24px;
padding: 5px 5px 5px 0;
}
.widget-text .f_help {
display:block;
padding:0;
margin:0;
list-style:circle;
}
.widget-text .f_help  li{
display:block;
padding:5px 0;
margin:0;
}
.widget-text .f_help li a {
color:#666;
padding:0 5px;
text-decoration:none;
}
.widget-text .f_help li::before {
content: "\f111";
font-family: FontAwesome;
font-size: 8px;
position: relative;
left: 0px;
top: -5px;
color: #ff794d;
}
.f_social,
.widget-text .f_social {
display:block;
padding:0;
margin:0;
list-style:circle;
}
.f_social li,
.widget-text .f_social   li{
display:block;
padding:5px 0;
margin:0;
}

.widget-text .f_social  li a {
color:#666;
padding:0 5px;
text-decoration:none;
}
.f_social li{
display:inline-block;
}
.f_social li a{
color:#fff;
}
.f_social i {
border: 1px solid #fff;
width: 25px;
height: 25px;
text-align: center;
padding: 5px;
margin: 0px;
font-size:14px;
border-radius:50%;
}
.widget-text .f_social i {
border: 1px solid;
width: 25px;
height: 25px;
text-align: center;
padding: 5px;
margin-right: 10px;
}
.f_social a{
font-weight:500;
}
.f_social li.facebook:hover i{
background-color:#3b5998;
color:#fff;
border: 1px solid transparent;
}
.f_social li.google:hover i{
background-color:#d34836;
color:#fff;
border: 1px solid transparent;
}
.f_social li.twitter:hover i{
background-color:#4099FF;
color:#fff;
border: 1px solid transparent;
}
.f_social li.youtube:hover i{
background-color:#e52d27;
color:#fff;
border: 1px solid transparent;
}
.f_social li.instagram:hover i{
background-color:#3f729b;
color:#fff;
border: 1px solid transparent;
}
.f_social li.linkedin:hover i{
background-color:#4875B4;
color:#fff;
border: 1px solid transparent;
}
.f_social li.vimeo:hover i{
background-color:#86B32D;
color:#fff;
border: 1px solid transparent;
}
.f_social li.dribbble:hover i{
background-color:#ea4c89;
color:#fff;
border: 1px solid transparent;
}
.f_social li.flickr:hover i{
background-color:#FE0883;
color:#fff;
border: 1px solid transparent;
}
.f_social li.share:hover i{
background-color:#26823A;
color:#fff;
border: 1px solid transparent;
}
.f_social li.pinterest:hover i{
background-color:#C92228;
color:#fff;
border: 1px solid transparent;
}
.widget-text .address{
display:block;
margin:0 0 10px 0;
}
.tagcloud{
display:block;
padding:0;
}
.tagcloud a {
display:inline-block;
border: 1px solid;
margin: 2px 0;
padding: 5px 20px;
color:#666;
border-radius:0;
font-size:16px !important;
}
.tagcloud a:hover,
.tagcloud a:focus{
background-color:#ff794d;
color:#fff;
}
.footer-copy{
background-color:#000;
padding:8px 0;
color:#fff;
}
.footer-copy a{
color:#ff794d;
text-decoration: none;
}
footer {
border-top: 1px solid #ddd;
}
.footer-copy-social {
text-align: right;
padding: 0;
}
.footer-copy-text{
padding:5px 0;
}
.footer2{
padding-top:0;
}
.footer2 .f_request{
border-top:5px solid #ff794d;
text-align:center;
}
.footer2 .f_request .btn{
background-color:#ff794d;
font-size:24px;
padding:10px 30px;
color:#fff;
border-radius:0;
}
.footer2 .widget-text p{
font-size:16px;
}
.footer2 .widget-text .f_social{
margin:15px 0;
}
.footer2 .widget-text .f_social li {
display: inline-block;
margin:0;
padding:0;
}
.footer2 .widget-text .f_social li a{
padding:0;
}
.footer2  .widget-text .f_social i {
margin:0;
}
.recent-blogs{
padding:0;
list-style:none;
padding:0;
display:block;
}
.recent-blogs li{
display:block;
}
.recent-blogs h3{ 
font-size:20px;
margin:0;
padding:5px 0;
}
.recent-blogs h3 a{ 
color:#ff794d;
text-decoration:none;
}
.recent-blogs .blogs-detail{
padding:0 0 5px 0;
border-bottom:1px solid rgba(0,0,0,0.5);
}
.address {
list-style: none;
padding: 0;
display: inline-block;
}
.address li {
border-bottom: 1px solid rgba(0, 0, 0, 0.5);
display: block;
margin: 5px 0;
padding: 0 0 15px 0;
}
.address li a{ 
font-size:16px;
color:#333;
text-decoration:none;
}
.address li i{
width:20px;
height:20px;
}
.footer-widget {
min-height: 350px;
}
/* Footer */

/* Breadcum */
.w_breadcum{
background-color:#ff794d;
color:#fff;
padding:20px 0;
}
.w_breadcum h1 {
display: inline-block;
font-size: 36px;
margin: 0;
}
.w_breadcum ul {
display: inline-block;
float: right;
margin: 0px !important;
background-color:transparent;
}
.w_breadcum ul li {
font-size: 16px;
display: inline-block;
font-weight:bold;
}
.breadcrumb li + li::before{
	content:"";
	padding:0;
}
.w_breadcum ul li a {
font-size: 18px;
color:#fff;
text-decoration:none;
}
/* Breadcum */
/* Featured */
.wc_full {
text-align: center;
}
.wc_full h2{
font-size: 30px;
padding: 10px 0;
margin-bottom: 10px;
font-weight:500;
border-bottom: 2px solid;
display: inline-block;
}
.wc_full p {
font-size:18px;
line-height:25px;
margin:15px  0;
padding:0 15%;
}
.wc_full .btn{
border:1px solid;
padding:10px 20px;
background-color:#ff794d;
color:#fff;
}
.w_sys {
border: 1px solid #999;
padding:0;
}
.w_sys h2{
padding:30px 0;
font-size:20px;
background-color:#ff794d;
color:#fff;
text-align:center;
min-height:100px;
margin:0;
}
.w_sys_desc{
text-align:center;
display:block;
padding:0;
list-style:none;
margin:0;
}
.w_sys_desc li {
padding:10px;
border-bottom:1px solid #999;
min-height:40px;
}
.w_sys_desc li:hover,
.w_sys_desc li:focus{
background-color:#ddd;
}
.w_plan_detail  h2 {
font-size: 30px;
margin: 10px 0;
}
.w_plan_detail .nav-tabs{
border:0;
}
.w_plan_detail .nav-tabs li a{
background-color:transparent;
color:#666;
}
.w_plan_detail .nav-tabs li.active a ,
.w_plan_detail .nav-tabs li:hover a{
border: 1px solid;
border-radius: 0;
background-color:#ff794d;
color:#fff;
}
.w_plan_detail .tab-content {
padding: 30px 0;
}
.w_plan_detail .tab-content h3{
font-size: 20px;
margin: 10px 0;
}
.w_plan_detail .tab-content p,
.w_plan_detail .tab-content a{
color:#666;
}
/* Featured */

/* About Us */
.w_choose_full {
padding: 15px;
}
.w_icon {
padding: 0;
}
.w_func {
text-align: center;
margin: 20px 0;
}
.w_text  p {
line-height: 25px;
}
.w_text  strong{
color:#ff794d;
font-size:18px;
font-weight: bold;
}
.wc_right .img-thumbnail {
padding: 0;
display: block;
margin-top: 30px;
}
.wc_left h2 {
font-size: 30px;
padding: 10px 0;
margin-bottom: 10px;
font-weight:500;
border-bottom: 2px solid;
display: inline-block;
}
.w_icon i {
border: 1px solid #ff794d;
border-radius: 50%;
font-size: 36px;
height: 40px;
text-align: center;
width: 40px;
background-color:#ff794d;
color:#fff;
}
.w_breadcum ul li a:after {
content: "\f101";
font-family: 'Font Awesome 5 Free';
font-weight: 800;
margin: 0 10px;
font-size: 12px;
border: 1px solid #ff794d;
border-radius: 50%;
padding: 3px 5px;
text-align: center;
background-color: #fff;
color: #ff794d;
}
.w_func span {
display: inline-block;
}
.w_func h2 {
display: inline-block;
font-size: 20px;
font-weight: 500;
padding: 10px 0;
text-transform: capitalize;
}
.w_func span i {
border: 1px solid;
border-radius: 50%;
color: #ff794d;
font-size: 36px;
padding: 10px;
}
.w_func p {
line-height: 25px;
padding: 5px;
text-align: center;
}
/* About Us */

/* Contact us */
.w_map {
display: inline-block;
padding: 20px 0;
width: 100%;
}
.w_map iframe{
width:100%;
height:500px;
}
.w_map1 iframe {
height: 400px;
width: 100%;
margin-top: 100px;
}
.w_contact_info h2 {
font-size: 30px;
padding: 10px 0;
margin-bottom: 10px;
font-weight:500;
border-bottom: 2px solid;
display: inline-block;
}
.w_contact_info span {
display: block;
margin: 15px 0;
}
.c_name {
color: #ff794d;
font-size: 20px;
font-weight: 500;
margin: 20px 0 !important;
}
.c_mail {
color: #ff794d;
margin-top: 30px !important;
}
.w_contact_form > h1 {
font-size: 42px;
text-align: center;
font-weight: 600;
}
.w_contact_form form{
margin-top:20px;
}
.w_contact_form label {
width: 100%;
}
.w_contact_form .form-control {
border-radius: 0;
height: auto;
padding: 10px 12px;
}
.w_contact_form .form-group {
margin-bottom: 10px;
}
.w_contact_form .form-control {
border-radius: 0;
height: auto;
padding: 10px 12px;
}
.w_contact_form .btn{
border:1px solid;
padding:10px 20px;
background-color:#ff794d;
color: #fff;
font-size:20px;
}

/* Contact 2 */
/* .w_contact_detail{
text-align:center;
} */
.w_contact_detail strong {
font-size: 20px;
line-height: 40px;
color:#ff794d;
}
/* Contact 2 */
/* Contact us */

/* Services type 1 */
.service_typ1{
text-align:center;
}
.w_ser_text h2 {
font-size: 24px;
font-weight: 500;
margin: 15px 0;
}
.w_ser_text p {
font-size: 16px;
line-height:25px;
}
.w_ser {
margin: 10px 0;
padding: 15px;
}
/* Services type 1 */

/* Services type 2 */
.service_typ2{
text-align:left;
}
.service_typ2 .w_ser_icon i {
margin: 15px 0;
}
/* Services type 2 */

/* Services type 3*/
.service_typ3  .img-thumbnail{
padding:0;
display:block;
border:0;
position:relative;
}
/* Services type 3*/

/* Blog */
.w_blog_post .img-thumbnail  {
padding: 0;
position: relative;
display: block;
border: 0;
}
.w_blog_post{
margin:0 0 50px 0;
}
.w_post_desc h2 {
display: block;
font-size: 24px;
margin: 5px 0;
padding: 10px 0;
}
.w_post_desc h2  a{
color:#ff794d;
font-weight:500;
text-decoration:none;
}
.w_post_desc > span {
display: inline-block;
margin: 10px 0 20px;
}
.w_post_desc > span  i{
margin:0 10px 0 0 ;
font-size:18px;
color:#ff794d;
}
.w_post_desc > p {
margin-bottom: 20px;
line-height: 22px;
}
.w_edit{
color:#ff794d;
border-bottom:1px solid #ff794d;
font-weight:500;
margin: 5px 0;
text-decoration:none;
}
.w_edit:hover,
.w_edit:focus{
color:#ff794d;
text-decoration:none;
}
.overlay{
width:100%;
height:100%;
position:absolute;
background:rgba(0,0,0,0.5);
visibility:hidden;
opacity:0;
top:0;
text-align:center;
}
.overlay  a {
position: relative;
top: 0%;
}
.w_blog_post .img-thumbnail:hover .overlay  a {
top: 40%;
-webkit-transition:all 300ms ease 0.6s;
-moz-transition:all 300ms ease 0.6s;
-ms-transition:all 300ms ease 0.6s;
-o-transition:all 300ms ease 0.6s;
transition:all 300ms ease 0.6s;
}
.w_blog_post .img-thumbnail:hover .overlay{
visibility:visible;
opacity:1;
-webkit-transition:all ease 0.6s;
-moz-transition:all ease 0.6s;
-ms-transition:all ease 0.6s;
-o-transition:all ease 0.6s;
transition:all ease 0.6s;
}
.overlay .icon{
border:1px solid #ff794d;
font-size:20px;
text-align:center;
padding:5px;
background-color:#fff;
color:#ff794d;
width:50px;
}
.w_post_desc {
padding: 0;
}
.w_blog_pagination{
margin:0;
padding:20px 0;
}
/* Blog */

/* Sidebar */
.w_sidebar {
border: 1px solid #ff794d;
margin: 0;
padding: 20px 10px;
margin-bottom: 20px;
}
.w_sidebar .form-control{
width:80%;
}
.w_sidebar .input-group-btn {
display: inline-block;
width:auto;
}
.w_sidebar .form-control {
display: inline-block;
width: 85% !important;
border-radius: 0;
}
#searchform {
  padding: 20px 10px 2px;
}
.w_sidebar .btn-search {
background-color: #ff794d !important;
color:#fff;
border-radius: 0;
margin: 0px;
}
/* .w_sidebar li:before {
content: "\f105";
font-family: FontAwesome;
margin: 0 10px;
font-size: 18px;
} */
.w_sidebar > h2 {
background-color: #ff794d;
color: #fff;
font-size: 24px;
margin: 0;
padding: 10px 0;
text-align: center;
}
.w_sidebar ul {
  list-style: outside none none;
  margin: 10px 0;
  padding-left: 25px;
}
.w_sidebar li {
    font-size: 16px;
    padding: 3px 0;
    text-decoration: none;
    list-style: circle;
}
.w_sidebar li a{
font-size:16px;
color:#666;
text-decoration:none;
}
.w_sidebar .tags li {
display:inline-block;
}
.w_sidebar .tags li  a{
border:1px solid #ff794d;
padding:5px 10px;
margin:2px;
border-radius:0;
}
.w_sidebar .tags li  a:hover,
.w_sidebar .tags li  a:focus{
background-color:#ff794d;
color:#fff;
}
.w_sidebar .tags li:before {
content:none;
}
/* Sidebar */

/* Blog Single */
.w_blog_post_detail{
margin:0;
}
.alignnone {
height: auto;
max-width: 100%;
}
.aligncenter {
margin: 0 auto;
height: auto;
max-width: 100%;
}
.aligncenter img {
width: 100% !important;
height: auto;
}
.alignnone img {
height: auto;
max-width: 100%;
}
.wp-caption-text {
background-color: #ccc;
font-size: 16px;
padding: 5px 0;
text-align: center;
font-style: italic;
}
.entry-content p {
font-size: 16px;
line-height:22px;
}
.alignleft {
float: left;
margin: 0 20px;
}
.alignright {
float: right;
}
/* Blog Single */
/* About Author */
.w_about_author {
margin: 30px 0;
}
.w_about_author h3{
font-size:20px;
font-weight:500;
color: #ff794d;
}
.w_about_author .img-thumbnail{
padding:0;
border:0;
}
.w_about_author  ul{
display:block;
padding:0;
margin:10px 0;
}
.w_about_author  ul li{
display:inline-block;
padding:0;
}
.w_about_author  ul li i{
width:25px;
height:25px;
text-align:center;
font-size:16px;
border:1px solid #ff794d;
padding:5px;
color: #ff794d;
}
.w_about_author  span{
margin:20px 0;
font-weight:500;
font-size:18px;
color: #ff794d;
display:block
}
/* About Author */

/* Related blogs */
.w_related_blog{
margin:20px 0;
}
.w_post{
margin:0;
}
.w_related_blog h2 {
border-bottom: 2px solid;
display: inline-block;
font-size: 30px;
font-weight: 500;
padding: 10px 0;
}
.swiper-container1{
margin: 0 auto;
overflow: hidden;
position: relative;
z-index: 1;
padding-top: 20px;
width: 100%;
}
.w_post .img-thumbnail{
padding:0;
border:0;
display:block;
position:relative;
}
.w_post_detail h3{
font-size:20px;
font-weight:600;
padding:10px 0;
}
.w_post_detail h3 a{
color:#666;
text-decoration:none;
}
.w_post_detail{
padding:0;
}
.w_post_detail p{
line-height:22px;
}
.w_post_detail span{
display:block;
color: #ff794d;
margin:10px 0;
font-weight:500;
}
.w_post .img-thumbnail:hover .overlay  a {
top: 40%;
-webkit-transition:all 300ms ease 0.6s;
-moz-transition:all 300ms ease 0.6s;
-ms-transition:all 300ms ease 0.6s;
-o-transition:all 300ms ease 0.6s;
transition:all 300ms ease 0.6s;
}
.w_post .img-thumbnail:hover .overlay{
visibility:visible;
opacity:1;
-webkit-transition:all ease 0.6s;
-moz-transition:all ease 0.6s;
-ms-transition:all ease 0.6s;
-o-transition:all ease 0.6s;
transition:all ease 0.6s;
}
/* Related blogs */

/* Blog Pagination */
.w_blog_pagination .next a,
.w_blog_pagination .previous a{
background-color:#ff794d;
color: #fff;
padding:7px 15px;
border:1px solid #ff794d;
}
.w_blog_pagination .next a:hover,
.w_blog_pagination .previous a:hover,
.w_blog_pagination .next a:focus,
.w_blog_pagination .previous a:focus{
background-color:#fff;
color: #ff794d;
}
.w_blog_pagination .next a::before  {
content: "\f105 \f105";
font-family: FontAwesome;
font-size: 18px;
margin: 0 5px;
float:right
}
.w_blog_pagination .previous a::before {
content: "\f104 \f104";
font-family: FontAwesome;
font-size: 18px;
}
/* Blog Pagination */

/* Blog Comment */
.blog-feedback {
    padding: 0;
}
.w_comment{
margin:30px 0;
}
.w_comment h2{
font-size:30px;
padding:10px 0;
font-weight:500;
border-bottom: 2px solid;
display: inline-block;
}
.w_comment .comment-details {
  border-bottom: 2px solid #ddd;
  margin: 20px 0;
  padding: 0;
  padding-bottom: 20px;
}
.w_comment  .comment-detail h3{
font-size:20px;
margin:0 0 10px 0;
font-weight:500;
}
.w_comment  .comment-detail p{
line-height:20px;
margin:10px 0;
}
.w_comment  .comment-detail a,
.w_comment  .comment-detail span{
font-size:14px;
color:#ff794d;
}
/* Blog Comment */

/* Blog Form */
.w_comment_form {
margin:30px 0;
}
.w_comment_form  label {
width: 100%;
}
.w_comment_form h2{
font-size:30px;
padding:10px 0;
font-weight:500;
border-bottom: 2px solid;
display: inline-block;
}
.w_comment_form form {
margin: 20px 0;
display: inline-block;
}
.w_comment_form  .form-control {
border-radius: 0;
height: auto;
padding: 10px 12px;
}
.w_comment_form  .form-group {
margin-bottom: 20px;
}
.w_comment_form  .form-control {
border-radius: 0;
height: auto;
padding: 10px 12px;
}
.w_comment_form .btn{
border:1px solid;
padding:10px;
background-color:#ff794d;
color: #fff;
font-size:18px;

}
/* Blog Form */

/* PortFolio */
.w_port .img-thumbnail{
position:relative;
display:block;
padding:0;
border:0;
}
.w_port .img-thumbnail .w_overlay1,
.w_port .img-thumbnail .w_overlay{
text-align:left;
position:absolute;
top:0;
width:100%;
height:100%;
visibility:hidden;
opacity:0;
overflow:hidden;
padding-left:10%;
}
.w_port .img-thumbnail:hover .w_overlay{
visibility:visible;
opacity:1;
-webkit-transition:all 300ms ease 0.6s;
-moz-transition:all 300ms ease 0.6s;
-ms-transition:all 300ms ease 0.6s;
-o-transition:all 300ms ease 0.6s;
transition: all 300ms ease 0s;
}
.w_port .img-thumbnail .w_overlay::before{
content:"";
height:0;
width:0;
margin: auto;
top:0;
left:0;
-webkit-transition:all 300ms ease 0.6s;
-moz-transition:all 300ms ease 0.6s;
-ms-transition:all 300ms ease 0.6s;
-o-transition:all 300ms ease 0.6s;
transition: all 300ms ease 0s;
position:absolute;
background:rgba(0,0,0,0.2);
}
.w_port .img-thumbnail .w_overlay::after{
content:"";
height:0;
width:0;
bottom:0;
margin: auto;
right:0;
-webkit-transition:all 300ms ease 0.6s;
-moz-transition:all 300ms ease 0.6s;
-ms-transition:all 300ms ease 0.6s;
-o-transition:all 300ms ease 0.6s;
transition: all 300ms ease 0s;
position:absolute;
background:rgba(0,0,0,0.3);
}
.w_port .img-thumbnail:hover .w_overlay::before,
.w_port .img-thumbnail:hover .w_overlay::after{
height:100%;
width:100%;
-webkit-transition:all 300ms ease 0.6s;
-moz-transition:all 300ms ease 0.6s;
-ms-transition:all 300ms ease 0.6s;
-o-transition:all 300ms ease 0.6s;
transition: all 300ms ease 0s;
}
.w_port .img-thumbnail .w_overlay h3 {
position: relative;
top: 0;
z-index: 9;
margin-left: -20px;
}
.w_port .img-thumbnail .w_overlay h3 a{
color: #fff;
text-decoration: none;
font-weight:bold;
font-size: 24px;
display:block;
}
.w_port .img-thumbnail .w_overlay h3 a:hover,
.w_port .img-thumbnail .w_overlay h3 a:focus {
color: #ff794d;
}
.w_port .img-thumbnail .w_overlay span{
color:#fff;
top:0;
font-size: 22px;
position:relative;
font-weight:500;
display:block;
margin-left: -20px;
}
.w_port .img-thumbnail .w_overlay a i {
background-color: #ff794d;
opacity:0.5;
color: #fff;
font-size: 30px;
padding: 15px 0px;
position: absolute;
right: -10px;
top: -10px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
-webkit-transition:all 500ms ease 0s;
-moz-transition:all 500ms ease 0s;
-ms-transition:all 500ms ease 0s;
-o-transition:all 500ms ease 0s;
transition:all 500ms ease 0s;
border-radius: 30px;
width: 50px;
height: 50px;
z-index:11;
text-align:center;
}
.w_port .img-thumbnail:hover .w_overlay h3{
top:50%;
-webkit-transition:all 500ms ease 0.6s;
-moz-transition:all 500ms ease 0.6s;
-ms-transition:all 500ms ease 0.6s;
-o-transition:all 500ms ease 0.6s;
transition: all 500ms ease 0.6s;
}
.w_port .img-thumbnail:hover .w_overlay span{
top:52%;
-webkit-transition:all 900ms ease 0.6s;
-moz-transition:all 900ms ease 0.6s;
-ms-transition:all 900ms ease 0.6s;
-o-transition:all 900ms ease 0.6s;
transition: all 900ms ease .6s;
}
.w_port {
margin: 15px 0;
}
.three-colom{
margin:0;
padding:0;
}
.three-colom .img-thumbnail:hover .w_overlay span{
top:55%;
-webkit-transition:all 900ms ease 0.1s;
-moz-transition:all 900ms ease 0.1s;
-ms-transition:all 900ms ease 0.1s;
-o-transition:all 900ms ease 0.1s;
transition: all 900ms ease 0.1s;
}
.w_port_more {
text-align:center;
padding:30px 0;
margin:10px 0;
}
.w_port_more .btn{
border:1px solid ;
background-color:#ff794d;
color:#fff;
font-size:20px;
padding:10px  20px;
}
.four-colom{
margin:0;
padding:0;
}
.w_overlay1 {
background: #ff794d;
bottom: 0;
content: "";
left: 0;
position: absolute;
right: 0;
top: 0;
-webkit-transform: scale(0);
-ms-transform: scale(0);
-moz-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-ms-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;
transition-property: transform;
-webkit-transition-timing-function:all 1s ease 0.6s;
-moz-transition-timing-function:all 1s ease 0.6s;
-ms-transition-timing-function:all 1s ease 0.6s;
-o-transition-timing-function:all 1s ease 0.6s;
transition-timing-function:all 1s ease 0.6s;
z-index: 1;
}
.w_port .img-thumbnail:hover .w_overlay1{
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
opacity:0.7;
visibility:visible;
}
.w_overlay1 a,
.w_overlay1 span{
color:#fff;
}
.w_overlay1 a.photobox_a {
background-color: #fff;
border-radius: 50%;
color: #ff794d;
height: 40px;
padding: 12px;
position: absolute;
right: -10px;
text-align: center;
top: -10px;
width: 40px;
text-decoration:none;
}
.w_overlay1 a{
text-decoration:none;
}
.w_overlay1 a.photobox_a i {
font-size: 20px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
.w_port .img-thumbnail:hover .w_overlay1 h3{
position:relative;
top:50%;
-webkit-transition:all 500ms ease 0s;
-moz-transition:all 500ms ease 0s;
-ms-transition:all 500ms ease 0s;
-o-transition:all 500ms ease 0s;
transition: all 500ms ease 0s;
}
.w_port .img-thumbnail:hover .w_overlay1 span{
position:relative;
top:52%;
-webkit-transition:all 900ms ease .1s;
-moz-transition:all 900ms ease .1s;
-ms-transition:all 900ms ease .1s;
-o-transition:all 900ms ease .1s;
transition: all 900ms ease .1s;
}
/* PortFolio */

/* Portfolio Detail */
.w_port-slide{
margin:0;
}
.w_port_pic{
padding:0;
}
.w_slide{
padding:0;
}
.w_port-slide .img-thumbnail{
padding:0;
border:0;
display:block;
position:relative;
}
.swiper-container2,
.swiper-container3{
margin: 0 auto;
overflow: hidden;
position: relative;
z-index: 1;
padding-top: 20px;
width: 100%;
}
.swiper-container2{
margin: 20px auto;
}
.swiper-container3{
padding-top: 0px;
}
.swiper-container2 .swiper-slide-active{
border:3px solid #ff794d;
}
.w_prod_desc h2 {
font-size: 24px;
font-weight: 500;
padding-bottom: 30px;
}
.w_prod_desc > span {
display: block;
margin: 10px 0;
}
.w_prod_desc > span strong {
font-weight: 600;
}
.w_prod_desc h3 {
font-size: 20px;
font-weight: 500;
padding: 10px 0;
margin: 10px 0;
display:inline-block;
border-bottom:2px solid;
}
.w_prod_desc p {
font-size: 16px;
line-height:22px;
}
/* Portfolio Detail */

/* Related Portfolio */
.w_related_port h2{
font-size: 24px;
font-weight: 500;
padding: 10px 0;
margin: 10px 0;
display:inline-block;
border-bottom:2px solid;
}
.w_related_port .w_port{
padding:0;
}
.w_related_port  .w_port .img-thumbnail:hover .w_overlay span{
top:55%;
-webkit-transition:all 900ms ease .1s;
-moz-transition:all 900ms ease .1s;
-ms-transition:all 900ms ease .1s;
-o-transition:all 900ms ease .1s;
transition: all 900ms ease .1s;
}
.w_related_port .w_port .img-thumbnail .w_overlay span {
left: 10%;
}
.w_related_port .w_port .img-thumbnail .w_overlay h3 {
left: 10%;
margin-left: -20px;
}
.swiper-container4{
margin: 0 auto;
overflow: hidden;
position: relative;
z-index: 1;
padding-top: 20px;
width: 100%;
}
/* Related Portfolio */

/* About */
.panel-title a {
color: #ff794d;
display: block;
text-decoration: none;
}
.w_abt .img-thumbnail {
padding: 0;
border: 0;
position: relative;
display: block;
}
/* About */

/* Team */
.m_socail{
padding:0;
list-style:none;
margin:10px 0;
display:block;
}
.m_socail li{
display:inline-block;
}
.m_socail li a i{
border:1px solid #ff794d;
color:#ff794d;
width:30px;
height:30px;
text-align:center;
padding:5px;
font-size:18px;
}
.w_team_mem .img-thumbnail{
padding:0;
display:block;
position:relative;
border:0;
}
.w_mem_detail{
padding:10px;
border: 1px solid transparent;
border-top:0;
}
.w_mem:hover .w_mem_detail {
border: 1px solid #ff794d;
border-top:0;
}
.w_mem .img-thumbnail .w_overlay{
text-align:center;
position:absolute;
top:0;
width:100%;
height:100%;
visibility:hidden;
opacity:0;
overflow:hidden;
}
.w_mem .img-thumbnail:hover .w_overlay{
visibility:visible;
opacity:1;
-webkit-transition:all 300ms ease 0s;
-moz-transition:all 300ms ease 0s;
-ms-transition:all 300ms ease 0s;
-o-transition:all 300ms ease 0s;
transition: all 300ms ease 0s;
}
.w_mem .img-thumbnail .w_overlay::before{
content:"";
height:0;
width:0;
margin: auto;
top:0;
left:0;
-webkit-transition:all 300ms ease 0s;
-moz-transition:all 300ms ease 0s;
-ms-transition:all 300ms ease 0s;
-o-transition:all 300ms ease 0s;
transition: all 300ms ease 0s;
position:absolute;
background:rgba(0,0,0,0.2);
}
.w_mem .img-thumbnail .w_overlay::after{
content:"";
height:0;
width:0;
bottom:0;
margin: auto;
right:0;
-webkit-transition:all 300ms ease 0s;
-moz-transition:all 300ms ease 0s;
-ms-transition:all 300ms ease 0s;
-o-transition:all 300ms ease 0s;
transition: all 300ms ease 0s;
position:absolute;
background:rgba(0,0,0,0.3);
}
.w_mem .img-thumbnail:hover .w_overlay::before,
.w_mem .img-thumbnail:hover .w_overlay::after{
height:100%;
width:100%;
-webkit-transition:all 500ms ease 0s;
-moz-transition:all 500ms ease 0s;
-ms-transition:all 500ms ease 0s;
-o-transition:all 500ms ease 0s;
transition: all 500ms ease 0s;
}
.w_mem .img-thumbnail .w_overlay h2 {
position: absolute;
bottom: 0;
z-index: 9;
text-align:center;
width:100%;
background-color:#ff794d;
margin:0;
font-size:16px;
padding:10px 0;
opacity:0.7;
-webkit-transition:all 500ms ease 0s;
-moz-transition:all 500ms ease 0s;
-ms-transition:all 500ms ease 0s;
-o-transition:all 500ms ease 0s;
transition: all 500ms ease 0s;
}
.w_mem .img-thumbnail .w_overlay h2 a{
color:#fff;
text-decoration:none;
border:1px solid #fff;
padding:2px 10px;
}
/* team */
.w_about_detail{
margin:0;
}
.w_about_detail .w_right_abt{
text-align:center;
}

/* W_about_team */
.about-team-detail{
margin:10px 0;
min-height:300px;
}
.about-team-detail .img-thumbnail{
position:relative;
padding:0;
margin:0 10%;
border:5px solid rgba(0,0,0,0.7);
display:block;
}
.about-team-name,
.about-team-name1{
text-align:center;
}
.about-team-name1{
margin-top:15%;
}
.about-team-name  h2 ,
.about-team-name1  h2 {
font-size: 24px;
margin: 0;
padding: 5px 0;
}
.about-team-name  h2 a,
.about-team-name1  h2 a {
text-decoration:none;
color:#666;
}
.about-team-name  h3 ,
.about-team-name1  h3 {
font-size: 16px;
margin: 0;
padding: 5px 0;
}
.about-team-name1 .f_social li a {
color: #666;
}
.about-team-name1  h2 a ,
.about-team-name1  h3 ,
.about-team-name1  .f_social li a{
color:#fff;
}
.about-team-name1 .f_social i {
border: 1px solid #fff;
}
.about-team-name1 .f_social i {
border-radius: 50%;
font-size: 14px;
height: 25px;
margin: 0;
padding: 5px;
text-align: center;
width: 25px;
}
.about-team-detail .img-thumbnail .w_overlay{
text-align:center;
position:absolute;
top:0;
width:100%;
height:100%;
visibility:hidden;
opacity:0;
overflow:hidden;
}
.about-team-detail .img-thumbnail:hover .w_overlay{
visibility:visible;
opacity:1;
-webkit-transition:all 300ms ease 0s;
-moz-transition:all 300ms ease 0s;
-ms-transition:all 300ms ease 0s;
-o-transition:all 300ms ease 0s;
transition: all 300ms ease 0s;
}
.about-team-detail .img-thumbnail .w_overlay::before{
content:"";
height:0;
width:0;
margin: auto;
top:0;
left:0;
-webkit-transition:all 300ms ease 0s;
-moz-transition:all 300ms ease 0s;
-ms-transition:all 300ms ease 0s;
-o-transition:all 300ms ease 0s;
transition: all 300ms ease 0s;
position:absolute;
background:rgba(0,0,0,0.2);
border-radius: 50%;
}
.about-team-detail .img-thumbnail .w_overlay::after{
content:"";
height:0;
width:0;
bottom:0;
margin: auto;
right:0;
-webkit-transition:all 300ms ease 0s;
-moz-transition:all 300ms ease 0s;
-ms-transition:all 300ms ease 0s;
-o-transition:all 300ms ease 0s;
transition: all 300ms ease 0s;
position:absolute;
background:rgba(0,0,0,0.3);
border-radius: 50%;
}
.about-team-detail .img-thumbnail:hover .w_overlay::before,
.about-team-detail .img-thumbnail:hover .w_overlay::after{
height:100%;
width:100%;
-webkit-transition:all 500ms ease 0s;
-moz-transition:all 500ms ease 0s;
-ms-transition:all 500ms ease 0s;
-o-transition:all 500ms ease 0s;
transition: all 500ms ease 0s;
}
.about-team-detail:hover .img-thumbnail,
.about-team-detail:hover .img-thumbnail img{
border-radius:50%;
}
.about-team-detail:hover  .about-team-name{
display:none;
}
/* W_about_team */

/* index blog  */
.w_gravtor {
border-radius: 50%;
height: 100px;
position: relative;
width: 100px;
float: right;
margin-top: -50px;
margin-right: 0px;
}
.w_blogs_post .img-thumbnail{
padding:0;
border:0;
display:block;
position:relative;
overflow:hidden;
border-radius:0;
}
.w_blogs_post_desc{
padding:0;
}
.post-info{
list-style:none;
padding:0;
margin:20px 0 10px 0 ;
display:block;
}
.post-info li {
display:inline-block;
}
.post-info li a{
color:#666;
}
.post-info li i{
margin:0 5px;
color:#ff794d;
}
.w_blogs_post_desc h2 {
margin: 0;
line-height: 20px;
}
.w_blogs_post_desc h2 a{
font-size:18px;
color:#666;
text-decoration:none;
}
.w_blogs_post_desc h2 a::after {
border-bottom: 2px solid #ff794d;
content: "";
left: 0;
margin-top: 30px;
position: absolute;
width: 50px;
}
.w_blogs_post_desc p{
font-size:16px;
color:#666;
line-height: 25px;
margin:20px 0;
}
.w_blogs_post_desc::after{
border-bottom: 2px solid transparent;
content:"";
width:0;
position:absolute;
bottom:0;
left:0;
}
.w_blogs_post:hover  .img-thumbnail img{
-webkit-transform:rotate(-15deg) scale(1.4);
-moz-transform:rotate(-15deg) scale(1.4);
-ms-transform:rotate(-15deg) scale(1.4);
-o-transform:rotate(-15deg) scale(1.4);
transform:rotate(-15deg) scale(1.4);
-webkit-transition:all all 600ms ease 0.6s;
-moz-transition:all all 600ms ease 0.6s;
-ms-transition:all all 600ms ease 0.6s;
-o-transition:all all 600ms ease 0.6s;
transition:all 600ms ease 0.6s;
}
.w_blogs_post:hover .w_blogs_post_desc::after{
border-bottom: 2px solid #ff794d;
width:100%;
-webkit-transition:width 0.3s ease 0.2s;
-moz-transition:width 0.3s ease 0.2s;
-ms-transition:width 0.3s ease 0.2s;
-o-transition:width 0.3s ease 0.2s;
transition:width 0.3s ease 0.2s;
}
.w_blogs_post_desc .btn{
padding:0;
color:#ff794d;
margin:10px 0;
}
.w_blogs_post_desc .btn:before {
content: "\f061";
font-family: FontAwesome;
font-size: 18px;
margin-right: 5px;
}
/* index blog  */

/* Client Start  */
.swiper-container6{
width:100%;
overflow:hidden;
}
/* Client End  */

.swiper-pagination-bullet-active::after {
border-radius: 100%;
content: "";
height: 16px;
left: -3px;
position: absolute;
top: -3px;
width: 16px;
}
.swiper-pagination-bullet::after {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: 1px solid #fff;
border-radius: 100%;
content: "";
height: 12px;
left: -2px;
position: absolute;
top: -2px;
width: 12px;
}
.swiper-pagination-bullet-active::after {
background: #ff794d none repeat scroll 0 0;
border: 1px solid #ff794d;
}
.swiper-pagination-bullet{
background-color: #fff;
height: 8px;
margin: 0 15px 0 0;
position: relative;
width: 8px;
opacity:1;
}

/* Blog 2 */
.w_blog_desc a{
text-decoration:none;
}
.w_blog_pic{
padding:0;
}
.w_blog_pic .img-thumbnail{
padding:0;
display:block;
position:relative;
border:0;
}
.w_blog_pic h2{
color: #ff794d;
margin:0;
font-size:24px;
text-align:center;
padding:10px 0;
}
.w_blog_pic h2 a,
.w_blog_detail h3 a{ 
color:#ff794d;
}
.w_blog_detail{
border-top: 3px solid #ff794d;
}
.w_blog_detail h3 {
font-size: 16px;
margin: 0;
text-transform: uppercase;
padding: 5px 0 10px 0;
}
.w_blog_detail p {
border-bottom: 1px solid rgba(0, 0, 0, 0.5);
min-height: 125px;
margin:0;
}
.w_blog_detail .btn{
color:#ff794d;
padding:10px 0;
}
/* Blog 2 */

/* Client imgses */
.w_back4{
background-image:url(images/back4.jpg);
}
.w_clients_2 {
background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.swiper8{
padding:30px 0;
border-top:2px solid #fff;
border-bottom:2px solid #fff;
}
/* Client imgses */

/* feedback Fixed */
.w_feedback {
background: #ff794d;
opacity:0.85;
bottom: 0;
display: inline-block;
position: fixed;
right: 5%;
width: 250px;
z-index: 9;
padding: 20px 0;
}
.w_feedback label,
.w_feedback .form-group{
margin:0;
}
.w_feedback .form-control{
background-color:transparent;
color:#fff;
border-radius:0;
border: 1px solid #fff;
}
.w_feedback .form-control::-moz-placeholder {
color: #fff;
}
.w_feedback .form-control::-webkit-placeholder {
color: #fff;
}
.w_feedback .form-control::-ms-placeholder {
color: #fff;
}
.w_feedback .form-control::-o-placeholder {
color: #fff;
}
/* feedback Fixed */

/* Masanary */
.gallery1{
margin:0;
}
.gallery1 .three-colom,
.gallery1 .four-colom{
padding:0 10px;
}
.gallery1 .four-colom .w_post_desc  span {
margin: 10px 0 0px;
}
.gallery1 .three-colom .w_post_desc h2 {
font-size: 20px;
}
.gallery1 .four-colom .w_post_desc h2 {
font-size: 18px;
}
.gallery1 .three-colom  .w_blog,
.gallery1 .four-colom  .w_blog{
margin:0;
margin-bottom:20px;
}
/* Masanary */

.parallax-window {
background: transparent;
min-height:400px;
}

/* 404 page */
.error-page{
text-align:center;
}
.error-page h1 {
    font-size: 120px;
    color: #f12e1f;
}
.error-page h2{
color:#ff794d;
}
.error-page .btn{
background-color:#ff794d;
color:#fff;
padding:10px 30px;
font-size:20px;
margin:10px 0;
}

/* DropCaps */
.drop-caps .cap1, .drop-caps .cap2, .drop-caps .cap3 {
float: left;
font-size: 32px;
height: 50px;
margin: -5px 10px;
text-align: center;
width: 50px;
}
.drop-caps p {
margin: 30px 0;
}
.drop-caps .grey {
background-color: #999;
color: #fff;
}
.drop-caps .round {
border-radius: 50%;
}
.drop-caps .square-drop,
.drop-caps .round-drop{
margin:0;
}
/* DropCaps */

/* Button */
.w_large,
.w_medium,
.w_small{
margin:0;
}
.w_large .btn,
.w_medium .btn,
.w_small .btn{
border:1px solid #000;
border-radius:0;
}
.w_large .btn:hover,
.w_medium .btn:hover,
.w_small .btn:hover{
color:#fff;
}
.w_large .btn.white:hover,
.w_medium .btn.white:hover,
.w_small .btn.white:hover{
background-color: #fff;
color: #000;
}
.type1 .btn{
border-radius:30px;
}
.theme-btn{
background-color:#ff794d;
color:#fff;
}
.white{
background-color: #fff;
color: #000;
}

.red {
background-color: #ff3030;
color: #fff;
}
.blue {
background-color: #0098ff;
color: #fff;
}
.purpul {
background-color: #ad5cff;
color: #fff;
}
.orange {
background-color: #ffb547;
color: #fff;
}
.black {
background-color: #000;
color: #fff;
}
.green {
background-color: #7edf7e;
color: #fff;
}
.pink {
background-color: #e678a3;
color: #fff;
}
.brown {
background-color: #753d02;
color: #fff;
}
/* Button */

/* tabs */
.w_tabs {
margin:10px 0;
}
.w_tabs_type1 .nav-tabs li a {
padding: 10px 40px;
font-size: 16px;
text-transform: uppercase;
font-weight: bold;
color:#999;
}
.w_tabs_type1 p,
.w_tabs_type2 p{
font-size:18px;
}
.w_tabs_type2 .nav-tabs li a {
padding: 10px 30px;
font-size: 16px;
text-transform: uppercase;
font-weight: bold;
color:#999;
}
.w_tabs_type2 .nav-tabs {
border-bottom: 0;
}
.w_tabs_type1 .nav-tabs li.active a,
.w_tabs_type2 .nav-tabs li.active a {
border: 1px solid #ff794d;
}
/* tabs */

/* Toggle */
.w_toggle_type1,
.w_toggle_type2{
margin:20px 0;
}
.w_toggle_type1 .btn,
.w_toggle_type2 .btn {
background-color: #ff794d;
}
.w_toggle_type1 .btn,
.w_toggle_type2 .btn {
color:#fff;
border-radius: 0;
margin:  5px 0 0 0;
padding: 5px 10px;
text-align: left;
width: 100%;
}
.w_toggle_type1 h3,
.w_toggle_type2 h3{
margin:5px 0;
}
.w_toggle_type1 .collapse,
.w_toggle_type2 .collapse {
margin: 0 0 10px;
background-color:#e6e6e6;
}
.w_toggle_type1  p,
.w_toggle_type2  p{
padding: 5px 10px;
font-size: 16px;
}
.w_toggle_type1 .btn.collapsed::after {
content: "+";
font-size: 30px;
font-weight: bold;
margin: -35px 15px;
}
.w_toggle_type1 .btn::after {
content: "-";
float: right;
font-size: 30px;
font-weight: bold;
margin: -35px 15px;
}
.w_toggle_type2 .btn.collapsed::after {
content: "\f0da";
font-size: 30px;
font-weight: bold;
margin: -35px 15px;
font-family:FontAwesome;
}
.w_toggle_type2 .btn::after {
content: "\f0d7";
font-family:FontAwesome;
float: right;
font-size: 30px;
font-weight: bold;
margin: -35px 15px;
}
/* Toggle */

/* Panel */
.w-panel-type .panel-heading{
font-size:18px;
}
.w-panel-type .panel-body{
font-size:16px;
}
.w-panel-type{
margin:20px 0;
}
/* Panel */

/* Colom */
.coloums p{
font-size:18px;
color:#999;
}
/* Colom */

/* popover*/
.w_popover a {
border: 1px solid;
color: #ff794d;
font-size: 18px;
margin-right: 30px;
padding: 5px 20px;
text-decoration: none;
}
.w_popover .popover{
min-width:150px;
text-align:center;
}
.w_popover .top{
background-color:#fff;
}
/* popover*/

/* Pricing 2 */
.w_pricing_detail{
margin:0;
}
.w_pricing_detail .w_price_detail{
margin:0;
padding:0;
list-style:none;
text-align:center;
border:2px solid #ccc;
border-radius:10px;
}
.w_price_detail li{
font-size:18px;
border-bottom:1px solid #ccc;
height:40px;
padding:5px 0;
}
.w_price_detail .w_name {
background-color: #ff794d;
color:#fff;
font-size: 30px;
min-height: 100px;
padding-top: 20px;
}
.w_price_name li{
font-weight:500;
}
.w_price_detail .w_name1{
font-size:30px;
min-height:100px;
background-color: #ff794d;
color:#fff;
}
.w_price_detail .w_name1 > img {
display: block;
margin: 0 auto;
width: 30px;
}
.w_price_detail .w_price {
font-size: 30px;
font-weight: 600;
min-height: 100px;
padding-top: 20px;
}
.w_price_detail .w_price1{
font-size:48px;
min-height:100px;
}
.w_price_detail .w_price1 span {
display: block;
margin: 0 auto;
font-size: 16px;
font-weight: 600;
}
.price_link{
min-height:100px;
}
.price_link .btn{
font-size:24px;
color:#fff;
background-color:#ff794d;
border-radius:10px;
padding:5px 20px;
margin-top:20px;
}
.w_price_detail .fa-check{
color:#ff794d;
}
.w_price_detail .fa-times{
color:#666;
}
/* Sidebar & Footer Widget CSS */
.w_sidebar .tagcloud a {
	text-decoration: none;
    border: 1px solid #ff794d;
    padding: 5px 10px;
    margin: 10px 5px 0;
    display: inline-block;
    border-radius: 0;
    color: #777;
	font-size: 15px !important;
}
.w_sidebar .tagcloud a:hover,
.w_sidebar .tagcloud a:focus {
    color: #fff;
    background: #ff794d;
}
.w_sidebar .textwidget {
    color: #777;
    text-align: justify;
    font-size: 15px;
    margin-top: 12px;
}
span.comment-author-link {
    font-size: 16px;
}
.w_sidebar li.recentcomments a:hover,
.w_sidebar li.recentcomments a:focus {
    color: #ff794d;
}
#wp-calendar tbody tr td {
text-align: center;
}
#wp-calendar tr td a{
	color:#ff794d;
	text-decoration: none;
}
#wp-calendar caption {
padding: 10px;
color: #fff;
text-align: center;
font-size: 16px;
font-weight: 700;
background-color:#ff794d;
}
#wp-calendar thead tr th {
text-align: center;
}
table th {
border: 1px solid #dddddd;
padding: 6px;
line-height: 20px;
text-align: center;
vertical-align: top;
}
table td {
border: 1px solid #dddddd;
padding: 6px;
line-height: 20px;
text-align: center;
vertical-align: top;
}
.footer-widget table td {
color:#333;
}
.footer-widget #wp-calendar thead tr th {
color: #333;
}
table.table, table {
width: 100%;
text-align: left;
background-color: transparent;
}
#calendar_wrap {
  padding: 10px;
}
.widget-text .tags {
    display: block;
    padding: 0;
}
.widget-text .tags li {
    display: inline-block;
}
.widget-text .tags li a {
    border: 1px solid;
    margin: 2px 0;
    padding: 5px 20px;
    color: #666;
    border-radius: 0;
}
.widget-text .tags li a:hover,
.widget-text .tags li a:focus {
    background-color: #ff794d;
    color: #fff;
}
/* Sidebar & Footer Widget CSS */

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.gallery-caption{
	
}
.bypostauthor{
	
}
/* Deafult */
.footer-widget ul {
  list-style: none;
  padding-left: 20px;
}
.footer-widget ul li{
 display:block;
}
.footer-widget ul li a{
color:#333;
font-size:16px;
}
#searchform .form-control {
  border-radius: 0;
  float: left;
  width: 80%;
}
#searchform .btn-search {
  background-color: #333;
  color: #fff;
}

.menu .navbar-brand .logo {
  height: 100%;
 /* margin-bottom: -20px;
  margin-top: -20px;*/
  width: auto;
  padding-top:10px;
}

.sticky-head .menu .navbar-brand .logo {
  height: 40px;
  width: auto;
  margin:0;
}
.w_post_desc span a{
	color:#ff794d;
	background-color:#E7E7E7;
	display:inline-block;
	padding:5px 10px;
}
.pager .previous a,
.pager .next a{
	color:#ff794d;
}
.pager .previous a:hover,
.pager .next a:hover,
.pager .previous a:focus,
.pager .next a:focus{
	background-color:#ff794d;
	color:#fff;
}
.logged-in-as a{
	color:#ff794d;
}
.comment-form .form-submit {
  display: inline-block;
}
.comment-form .form-group{
	padding-left:0;
}
.comment-form .form-submit .btn {
  background-color:#ff794d;
	color:#fff;
}

select
{
	width: 100%;
}

.w_sidebar .textwidget img
{
width: 100%;
}
.textwidget img
{
width: 100%;
}

img.custom-logo {
	margin-top:10px;
    height: 80px;
    width: auto;
}
.single-next a {
    float: left;
    background-color: #ff794d;
    font-size: 16px;
    color: #fff;
    padding: 6px;
}
.single-prev a {
    float: right;
    background-color: #ff794d;
    font-size: 16px;
    color: #fff;
    padding: 6px;
}




.portfolio-item img {
    height: 216px;
}

/* Blog */
.w_blog_post .img-thumbnail  {
padding: 0;
position: relative;
display: block;
border: 0;
}
.w_blog_post {
  margin: 0 0 50px;
  background-color: #fff;
  padding: 10px;
  border-bottom: 3px solid #ccc;
}
.w_post_desc h2 {
color: #f47749;
display: block;
font-size: 24px;
margin: 5px 0;
padding: 10px 0;
}
.w_post_desc h2  a{
font-weight:500;
text-decoration:none;
}
.w_post_desc span  i{
margin:0 10px 0 0 ;
font-size:18px;
}
.w_post_desc span  a{
color:#333;
}
.w_post_desc p {
margin-bottom: 20px;
line-height: 22px;
font-size:18px;
}
.w_edit{
font-weight:500;
margin: 5px 0;
text-decoration:none;
}
.w_edit:hover,
.w_edit:focus{
text-decoration:none;
}
.overlay{
width:100%;
height:100%;
position:absolute;
background:rgba(0,0,0,0.5);
visibility:hidden;
opacity:0;
top:0;
text-align:center;
}
.overlay  a {
position: relative;
top: 0%;
}
.w_blog_post .img-thumbnail:hover .overlay  a {
top: 40%;
-webkit-transition:all 300ms ease 0.6s;
-moz-transition:all 300ms ease 0.6s;
-ms-transition:all 300ms ease 0.6s;
-o-transition:all 300ms ease 0.6s;
transition:all 300ms ease 0.6s;
}
.w_blog_post .img-thumbnail:hover .overlay{
visibility:visible;
opacity:1;
-webkit-transition:all ease 0.6s;
-moz-transition:all ease 0.6s;
-ms-transition:all ease 0.6s;
-o-transition:all ease 0.6s;
transition:all ease 0.6s;
}
.overlay .icon{
font-size:20px;
text-align:center;
padding:5px;
background-color:#fff;
width:50px;
}
.w_post_desc {
  padding: 0 10px;
  background-color: #fff;
}
.w_blog_pagination{
margin:0;
padding:20px 0;
}
/* Blog */
.entry-header{
	border-bottom:1px solid #ddd;
	margin-bottom:10px;
}
.entry-footer{
	border-top:1px solid #ddd;
}
.entry-header .ex-author,
.entry-header .ex-comment {
  display: inline-block;
  font-size: 18px;
  padding: 10px 5px;
  text-transform: capitalize;
}
.entry-header .ex-author a, .entry-header .ex-comment a{
	color:#000;
}
.entry-header .ex-author i,
.entry-header .ex-comment i{
	font-size:16px;
	margin-right:5px;
}
.entry-header .ex-author i, .entry-header .ex-comment i {
    color: #ff5539 !important;
}
.ex-btn {
    padding: 0;
    border-radius: 0;
    margin-bottom: 20px;
	color: #ff5539 !important;
    border-bottom: 1px solid #ff5539 !important;
}
.ex-blog {
    margin: 0;
    border: 1px solid #ddd;
    padding: 10px;
}
.ex-blog h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}
.ex-blog h3 a {
    color: #333;
}
.ex-blog .img-thumbnail {
    padding: 0;
    display: block;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0;
}
.home-blog .swiper-slide{
	width: 575px;
    margin-right: 20px !important;
}
.entry-header{
    margin: 0;
}
.swiper-button-prev {
    background-image: none !important;
}
.swiper-button-next{
    background-image: none !important;
}
.row.ex-blog img {
    height: 316px;
}
.home-blog-prev, .home-blog-next {
    background-color: #ff5539 !important;
    border: 1px solid #ff5539 !important;
    box-shadow: 0 2px 0 #ff5539 !important;
}
.home-blog-prev, .home-blog-next {
    background-image: none !important;
    color: #fff;
    font-size: 20px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    top: 45%;
    width: 40px;
}
.entry-footer {
    border-top: 1px solid #ddd;
}
.entry-footer .ex-category, .entry-footer .ex-tags {
    font-size: 14px;
    margin-right: 10px;
    padding: 5px 0;
    display: inline-block;
}
.entry-footer .ex-category  a, .entry-footer .ex-tags  a {
    color: #333;
}
.entry-footer .ex-category i, .entry-footer .ex-tags i {
    font-size: 16px;
    margin-right: 5px;
}
.entry-footer .ex-category i, .entry-footer .ex-tags i {
    color: #ff5539 !important;
}
.entry-footer {
    margin: 0;
}
.ex-blog:hover .img-thumbnail img {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
}
.ex-blog .img-thumbnail img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
}
.explora_service_1 img {
    height: 171px;
}
.ex-blog img {
    height: 254px;
}
.sticky-head .top {
    display: none;
}

.owl-nav {
    position: absolute;
    top: 50%;
	    display: none;
}
.top-search-form #searchform {
    padding: 0;
}
@media(min-width:1200px){
	#demos .owl-theme img {
    height: 660px;
}
.col-md-4.top-search-form {
    float: right;
}
body.boxed {
    width: 1230px;
	box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5) ;
    -webkit-box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
	-moz-box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
    margin: 0 auto;
}
body.boxed #header .main-header {
	width:1230px;
	margin:0 auto;
}
body.boxed .sticky-head{
	width:1230px;
	margin:0 auto;
}
}


/* custom css */
.widget_categories li, .widget_archive li{
    text-align: right;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}
.widget_categories li a, .widget_archive li a {
    float: left;
    clear: both;
}
.widget_archive select,.widget_categories select{
    width: 100%;
    border: 1px solid #9c9a9a;
    padding: 10px;
}
*{
  word-wrap: break-word;
}
.w_sidebar ul{
  list-style-type: none;
}
.menu-item-has-children:hover>.dropdown-menu,
.menu-item-has-children a:focus + .dropdown-menu{
  display: block;
}
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus{
  background-color: transparent;
}
.explora_blog_pagination a:hover,
 .explora_blog_pagination a:focus,
 .explora_blog_pagination span.page-numbers.current {
    background-position: 0 -100%;
    color: #ffffff;
    background-color: #ff794d;
}
.explora_blog_pagination a,
.explora_blog_pagination span {
    border: 1px solid #dbdbdb !important;
    background-color: #ffffff;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #ff794d 50%);
    color: #777777;
    padding: 10px;
}
.gallery {margin-bottom: 10px; padding: 5px 0;}
.gallery-item {display: inline-block;text-align: center;vertical-align: top;width: 100%;padding-left: 10px;
    padding: 5px;margin: 0;} 
.gallery-item  img{width: 100%;height: auto;}
.gallery-columns-2 .gallery-item {max-width: 50%; }
.gallery-columns-3 .gallery-item {max-width: 33.33%;}
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%;}
.gallery-columns-7 .gallery-item {max-width: 14.28%; }
.gallery-columns-8 .gallery-item {max-width: 12.5%; }
.gallery-columns-9 .gallery-item {max-width: 11.11%; }
.gallery-caption {display: block; }

.explora_service{
  padding: 100px 0;
}
/* Accessibility */
/* Text meant only for screen readers. */
.skip-link.screen-reader-text {
  display: block;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.skip-link.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: max-content;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

.main-navigation ul ul {
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
    min-width: 100%;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}
/* Small menu. */
@media screen and (min-width: 993px) {
    
    .main-navigation ul {
        display: block;
    }
}
@media screen and (max-width: 767px){
.toggled.main-navigation li {
    float: none;
    position: relative;
}
.toggled .nav-menu{
  display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.toggled .navbar-collapse {
  display: block;
}
.main-navigation ul li.menu-item-has-children:hover > .dropdown-menu, .main-navigation ul li.focus > .dropdown-menu {
    position: relative !important;
    left: 0;
    display: inline-grid;
}}
.tag-sticky-2 .w_post_desc,.sticky .w_post_desc { 
background-color:#ededed;
border:1px solid #f5f5f5;
color:#272727;
padding:5px;
}